/* Typography */

h1 {
    font-family: 'Frank Ruhl Libre', serif;
}

p, a {
    font-family: 'Yantramanav', sans-serif; 
}

p {
    margin-bottom: 30px;
    font-size: 14px;
    color: #3e3c3b;
}

/* Layout */



